button {
  font-size: 35px;
  padding: 5px;
  background-color: rgb(61, 61, 63);
  border-radius: 12px;
  border: 1px solid #f3f8fa;
  color: #f3f8fa;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

button:hover {
  color: rgb(61, 61, 63);
  background-color: #e3e3e7;
}

.title {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: rgb(28, 28, 31);
  margin-bottom: 50px;
  text-align: center;
}

.game-play-area {
  text-align: center;
}

.guessing-area {
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
}

#guess-spot {
  font-family: "Nunito", sans-serif;
  font-size: 90px;
  color: rgb(61, 61, 63);
  margin-bottom: 60px;
}

.letter-input {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  border-radius: 12px;
  padding: 5px;
  margin: 10px;
  outline: none;
}

#new-game {
  font-size: 35px;
  padding: 5px;
  background-color: rgb(61, 61, 63);
  border-radius: 12px;
  border: 1px solid #f3f8fa;
  color: #f3f8fa;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

#new-game:hover {
  color: rgb(61, 61, 63);
  background-color: #e3e3e7;
}

body {
  background-image: linear-gradient(to bottom right, #82f3fa, #eeef77);
}

#letters-guessed {
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  font-family: "Nunito", sans-serif;
}

#guesses-left {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
}

.answer-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  border-radius: 8px;
  background-color: rgb(0, 0, 0.9, 0.9);
}

.answer-modal-content {
  text-align: center;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
}

.answer-input {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  /* border-radius: 12px; */
  padding: 5px;
  margin: 10px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.close {
  cursor: pointer;
}

/* MEDIA QUERY */

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  body {
    background-image: linear-gradient(to bottom right, #8f8ff8, #eeef77);
  }
}

/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */
